---
# layout: compress
---
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

        {% seo %}
    </head>

    <body style="background-color: rgb(255, 255, 255)">
        <script async src="{{site.baseurl}}/assets/js/theme.min.js"></script>
        <header>
            <a href="{{site.baseurl}}/">
                <div class="home"></div>
            </a>
        </header>

        <main>
            <article>
                {{ content }}
            </article>
        </main>

        <footer>
            <p class="copy">
                <small>Site réalisé par Pierre Dienot <br>
                Crédits photos (modifiées) :<br>
                                        @Irina Sergeeva on Unsplash <br>
                                        @Phil Long on Flickr <br>
                                        @Emma Jane Hogbin Westby on Flickr <br>
                                        @Camilla Garin on Flickr <br>
                                        Icons designed by : <br>
                                        Good Ware via @flaticon <br>
                                        Freepik via @flaticon <br>
                                        Surang via @flaticon <br>
                </small>
            </p>
        </footer>
        {% include analytics.html %}
    </body>

</html>

